* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

.heading {
    text-align: center;
    font-size: 30px;
    font-family: sans-serif;
    font-weight: 700;
}

.border {
    display: flex;
    border: 3px solid black;
    border-bottom: 1px solid black;
}

.rows {
    display: flex;
    flex-direction: column;
}

.nums {
    height: 40px;
    width: 40px;
    border: 1px solid black;
}

.r-border {
    border-right: 2px solid black;
}

.rbottom {
    border-bottom: 2px solid black;
}

input {
    text-align: center;
    font-size: 25px;
}

#button {
    height: 40px;
    width: 100px;
    font-family: sans-serif;
    font-weight: 700;
    border: 2px solid black;
    border-radius: 4px;
    cursor: pointer;
    font-size: larger;
    cursor: pointer;
}

input:hover {
    background-color: rgb(201, 201, 201);
}